@using DevReadyAcademy.BLL

@{
    ViewBag.Title = "CalculateGPA";
}

<h2>CalculateGPA</h2>
<div>
    GPA: @ViewBag.AverageGPA (@GpaConvertor.ConvertNumberToLetter(ViewBag.AverageGPA))
</div>


<div>
    @Html.ActionLink("Back to Details", "Details", new {id = Url.RequestContext.RouteData.Values["id"] })|
    @Html.ActionLink("Back to List", "Index")
</div>