@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    DevReady Academy is an educational web 
    application that allows developers to 
    try the features of ASP .NET MVC 5
</p>
